.ring1 {
    height: 50px;
    width: 50px;
    box-shadow: 0.5px 0.5px 2px black;
    border: 2.5px solid yellow;
    border-radius: 50%;
    display: inline-block;
    margin: 15px;
}

.ring2 {
    height: 70px;
    width: 70px;
    box-shadow: 0.7px 0.7px 2px black;
    border: 3.5px solid red;
    border-radius: 50%;
    display: inline-block;
    margin: 15px;
}

.ring3 span:nth-child(1) {
    height: 92px;
    width: 92px;
    box-shadow: 0.9px 0.9px 2px black;
    border: 1.8px solid blue;
    border-radius: 50%;
    display: inline-block;
    margin-right: -25px;
}
.ring3 span:nth-child(2) {
    height: 94px;
    width: 94px;
    box-shadow: 0.9px 0.9px 2px black;
    border: 3.6px solid blue;
    border-radius: 50%;
    display: inline-block;
    margin-right: -25px;
}
.ring3 span:nth-child(3) {
    height: 96px;
    width: 96px;
    box-shadow: 0.9px 0.9px 2px black;
    border: 5.4px solid blue;
    border-radius: 50%;
    display: inline-block;
    margin-right: -25px;
}
.ring3 span:nth-child(4) {
    height: 98px;
    width: 98px;
    box-shadow: 0.9px 0.9px 2px black;
    border: 7.2px solid blue;
    border-radius: 50%;
    display: inline-block;
    margin-right: -25px;
}
.ring3 span:nth-child(5) {
    height: 100px;
    width: 100px;
    box-shadow: 0.9px 0.9px 2px black;
    border: 9px solid blue;
    border-radius: 50%;
    display: inline-block;
    margin-right: -25px;
}
.ring3 span:nth-child(6) {
    height: 102px;
    width: 102px;
    box-shadow: 0.9px 0.9px 2px black;
    border: 10.8px solid blue;
    border-radius: 50%;
    display: inline-block;
    margin-right: -25px;
}