body {
    width: 100%;
}

.navbar {
    background-color: orange;
    margin-bottom: 0px;
}

.center-pills, .center-thumbnails {
    display: flex;
    justify-content: center;
}

.img-circle {
    border-radius: 70%;
}


