body {
    width: 100%;
    background-color: #DCDCDC;
}

.navbar {
    background-color: orange;
    margin-bottom: 0px;
}

.center-pills, .center-thumbnails {
    display: flex;
    justify-content: center;
}

.img-circle {
    border-radius: 70%;
}

.bg-black {
    background-color: #000000;
}

